.root{
    -fx-background-color: white;
}
.label{
    -fx-font-size:30;
}
Button
{
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
    -fx-display: center;
}
