.root{
    -fx-background-color: Pink;
}
.label{
    -fx-font-size:20;
}
Button
{
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
    -fx-display: center;
    -fx-background-color: white;
    -fx-border-color:  slateblue  ;
    -fx-border-width: 3;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round ;

}
